<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire Utilisateur</title>
    <link rel="stylesheet" href="/stylesheets/user.css">
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <div class="content">
        <div class="header">
            <h2>
                <%= user.nom %> <%= user.prenom %> <span class="status">(<%= user.statut %>)</span> - <%= user.role %>
            </h2>
        </div>
        <div class="main-content">
                    <div class="form-column">
            <form>
                <div class="form-group">
                    <label for="nom">Nom</label>
                    <input type="text" id="nom" name="nom" required placeholder="Entrez votre Nom" value="<%= user.nom %>">    
                </div>
                <div class="form-group">
                    <label for="prenom">Prénom</label>
                    <input type="text" id="prenom" name="prenom" required placeholder="Entrez votre Prénom" value="<%= user.prenom %>">
                </div>
                <div class="form-group">
                    <label for="mail">Mail</label>
                    <input type="email" id="mail" name="mail" required placeholder="Entrez votre mail" value="<%= user.mail %>">
                </div>
                <div class="form-group">
                    <label for="tel">Téléphone</label>
                    <input type="tel" id="tel" name="tel" required placeholder="Entrez votre Telephone" value="<%= user.tel %>">
                </div> 
                <div class="form-group">
                    <label for="statut">Statut</label>
                    <select id="statut" name="statut" required>
                        <option value="actif" <%= user.statut === 'actif' ? 'selected' : '' %>>actif</option>
                        <option value="inactif" <%= user.statut === 'inactif' ? 'selected' : '' %>>inactif</option>
                    </select>
                </div>
                <div class="buttons">
                    <button class="btn-secondary" type="submit">Sauvegarder les modifications</button>
                </div>
            </form>
        </div>
        <div class="buttons-column">
            <button type="button" class="btn-danger">Supprimer</button>
            <button type="button" class="btn-primary">Rendre Administrateur</button>
            <button type="button" class="btn-primary">Rendre Candidat</button>
        </div>
        </div>

    </div>
    <div class="return-button">
        <button type="button">Revenir à la recherche</button>
    </div>
    
</body>
</html>
