<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails offre</title>
    <link rel="stylesheet" href="/stylesheets/offre.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <div class="content">
        <div class="header">
            <h2>
                <%= offer.intitule %>
            </h2>
        </div>
        <div class="main-content">
            <div class="left-column">
               <div class="info">
                <b>Organisation : </b><%= offer.organisation_nom %>
               </div> 

               <div class="info">
                <b>Lieu : </b><%= offer.lieuMission %>
               </div>

               <div class="info">
                <b>Statut du poste : </b><%= offer.statutPoste_nom %>
               </div>

               <div class="info">
                <b>Type de métier : </b><%= offer.metier_nom %>
               </div>

               <div class="info">
                <b>Responsable hiérarchique : </b><%= offer.resp %>
               </div>

               <div class="info">
                <b>Description du poste : </b><%= offer.description %>
               </div>
               <br>
               <div class="info">
                <b>Pièces demandées : </b><%= offer.nbPieces %>
               </div>

               <div class="info">
                <b>Indications de l'offre : </b><%= offer.indication %>
               </div>
            </div>


            <div class="right-column">
                <div class="info"> 
                    <b> Rémunération : </b> 
                </div>
                
                <div class="little_blue_card">
                    <%= offer.remuneration %>
                </div>

                <div class="info"> 
                    <b> Rythme : </b> 
                </div>
                <div class="little_blue_card">
                    <%= offer.rythme %>
                </div>
                
                <div > 
                    <br><br><br>Statut de l'offre : <%= offer.etatOffre %> 
                </div>
                <div > 
                    Valide jusqu'au <%= offer.dateValidite %> 
                </div>
                
            </div>
        </div>




        <div class="soumission-candidature">
            <div class="title-candidature"> 
                <b>Soumettre ma candidature</b>
            </div>
            <form id="candidatureForm" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="fileUpload" class="file-label">Ajouter les pièces jointes indiquées dans la description de l'offre :</label>
                    <input type="file" id="fileUpload" name="fileUpload" class="file-upload" multiple>
                </div>

                <!-- Champs cachés -->
                <input type="hidden" id="idOffreEmploi" name="idOffreEmploi" value="<%= offer.offre_id %>">
                <div class="return-button"> <!-- changer la classe : form line-->
                    <button type="submit" class="btn btn-primary" id="candidater">Candidater</button>
                </div>
            </form>
        </div>

    </div>
    <div class="return-button">
        <button type="button" onclick="window.history.go(-1);">Revenir à la page précédente</button>
    </div>





    <script>
        document.getElementById('candidatureForm').addEventListener('submit', function(event) {
            event.preventDefault();

            const form = document.getElementById('candidatureForm');
            const formData = new FormData(form);
            formData.append('date', new Date().toISOString().split('T')[0]);
            formData.append('etat', 'attente');
            console.log(formData);

            fetch('/detailsoffre/addCandidature', {
                method: 'POST',
                body: formData
            })
            .then(response => {
                if (response.redirected) {
                window.location.href = response.url;
                } else if (!response.ok) {
                return response.json().then(errorData => {
                    throw new Error(errorData.error || 'Erreur lors de l\'enregistrement de la candidature');
                });
                } else {
                return response.json();
                }
            })
            .then(data => {
                alert(data.message || 'Candidature enregistrée avec succès!');
                window.location.href = '/offresemploi/offresemploilist';
            })
            .catch(error => {
                console.error('Error:', error);
                alert(error.message || 'Erreur lors de l\'enregistrement de la candidature');
            })
        });
       


    </script>
</body>
</html>

