<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>id</th>
                <th>etat</th>
                <th>lieuMission</th>
                <th>rythme</th>
                <th>salaireMin</th>
                <th>salaireMax</th>
                <th>description</th>
                <th>metier</th>
                <th>statutPoste</th>
                <th>organisation</th>
            </tr>
        </thead>
        <tbody>
            <div class="overflow-x-auto">
                <table class="table">
            <% fichesPoste.forEach((fiche) => { %>
                <tr class="hover">
                    <td>
                        <%= fiche.id %>
                    </td>
                    <td>
                        <%= fiche.etat %>
                    </td>
                    <td>
                        <%= fiche.lieuMission %>
                    </td>
                    <td>
                        <%= fiche.rythme %>
                    </td>
                    <td>
                        <%= fiche.salaireMin %>
                    </td>
                    <td>
                        <%= fiche.salaireMax %>
                    </td>
                    <td>
                        <%= fiche.description %>
                    </td>
                    <td>
                        <%= fiche.metier %>
                    </td>
                    <td>
                        <%= fiche.statutPoste %>
                    </td>
                    <td>
                        <%= fiche.organisation %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
        
    </table>
</div>
</body>