<head>
    <link rel="stylesheet" href="/stylesheets/offresEmploi.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <h1 class="heading">Fiches de poste</h1>
    <div class="main-content">
        <div class="left-column"> 
            <input type="search" name="searchbar" id="searchbar" class="searchbar" placeholder="Rechercher une fiche<%= isRecruteur === true ? ' de l\'organisation dont je suis recruteur' : '' %>...">
            <% fichesPoste.forEach((fiche) => { %>
                <div class="offer-card">
                    <div class="container-column card-content">
                        <div id="orga" class="cardTitle">
                            <%= fiche.organisation_nom %> (<%= fiche.organisation_siren %>) - <%= fiche.statutPoste_nom %>, <%= fiche.metier_nom %> 
                        </div>
                        <div class="container-row">
                            <div class="little_blue_card">
                                <%= fiche.lieuMission %>
                            </div>                    
                            <div class="little_blue_card">
                                <%= fiche.salaireMin %>€ - <%= fiche.salaireMax %>€ brut/an
                            </div>                            
                            <div class="little_blue_card">
                                <%= fiche.rythme %>
                            </div>
                        </div>
                        <div class="container-row">
                            Responsable hiérarchique : <%= fiche.responsableHierarchique %>
                        </div>
                        <div class="container-row">
                            Description : <%= fiche.description %>
                        </div>    

                    </div>
                    <div class="container-column right small">
                        <div class="buttons bottom-margin">
                            <button diplay="none"id="createOfferButton" type="button" class="btn-secondary" onclick="createNewOffer()">Créer une nouvelle offre</button>
                            <button class="btn-secondary">Modifier</button>
                            <button class="btn-danger">Supprimer</button>
                        </div>
                        <script>
    document.addEventListener("DOMContentLoaded", function() {
    fetch('/pageperso/user-info')
        .then(response => response.json())
        .then(user => {
            var userid = user.id;
            var userRole = user.role;

            if (userRole === "administrateur" || userRole === "recruteur") {
                // Appeler l'endpoint /readOrga après avoir obtenu l'ID utilisateur
                fetch('/DemandeAdherRecruteur/readOrgaFromUser', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ userId: userid })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log("Organisation:", data.result);
                        var userOrganisationSiren = data.result.organisation; // Assurez-vous que cette clé existe dans la réponse
                        var offerOrganisationSiren = '<%= fiche.organisation_siren %>'; // SIREN de l'organisation de l'offre
                        console.log(userOrganisationSiren);
                        console.log(offerOrganisationSiren);
                        if (userOrganisationSiren === offerOrganisationSiren) {
                            // Afficher le bouton
                            document.getElementById("createOfferButton").style.display = "block";
                        }
                        else{
                            document.getElementById("createOfferButton").style.display = "none";

                        }
                        if (userRole === "administrateur" ){
                            document.getElementById("createOfferButton").style.display = "block";

                        }
                    } else {
                        console.error("Erreur lors de la lecture de l'organisation:", data.error);

                    }
                })
                .catch(error => console.error('Error:', error));
            }
        })
        .catch(error => console.error('Error:', error));
});

function createNewOffer() {
    var ficheIdElement = '<%= fiche.fichePoste_id %>';
    window.location.href = 'http://localhost:3000/offresemploi/detailsCreationOffre?ficheId=' + encodeURIComponent(ficheIdElement);
}
                        </script>
                        <div >
                            ID Fiche : <%= fiche.fichePoste_id %>
                        </div>
                        <div>
                            Etat : <%= fiche.fichePoste_etat %>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>

        <div class="right-column"> 
            <div class="offer-card">
                <fieldset>
                    <legend class="cardTitle">
                        Tri
                    </legend>
                    
                    <input type="radio" name="datePubli" id="datePubli">
                    <label for="datePubli">date de publication</label>
                    
                    <br><input type="radio" name="distance" id="distance">
                    <label for="distance">distance</label>
                </fieldset>
            </div>
            <div class="container-column offer-card">
                <div class="cardTitle">
                    Filtres
                </div>
                <div>
                    <label for="salaireMin">Salaire</label>
                    <input type="text" name="salaireMin" id="salaireMin" placeholder="Min"> - <input type="text" name="salaireMax" id="salaireMax" placeholder="Max">
                </div>
                <div>
                    
                </div>
            </div>
        </div>
            
        

    </div>

</body>