<head>
    <link rel="stylesheet" href="/stylesheets/listes.css">
    <link rel="stylesheet" href="/stylesheets/offresEmploi.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title><%= title %></title>
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <h1 class="heading">Fiches de poste</h1>
    <div class="main-content">
        <div class="left-column">
            <input type="search" name="searchbar" id="searchbar" class="searchbar" placeholder="Rechercher une fiche<%= isRecruteur === true ? ' de l\'organisation dont je suis recruteur' : '' %>...">
            <div id="fichePosteListe"></div>
            <div id="pagination" class="container-row hundred"></div>
        </div>

        <div class="right-column">
            <div class="offer-card">
                <fieldset>
                    <legend class="cardTitle">
                        Tri
                    </legend>

                    <input type="radio" name="datePubli" id="datePubli">
                    <label for="datePubli">date de publication</label>

                    <br><input type="radio" name="distance" id="distance">
                    <label for="distance">distance</label>
                </fieldset>
            </div>
            <div class="container-column offer-card">
                <div class="cardTitle">
                    Filtres
                </div>
                <div>
                    <label for="salaireMin">Salaire</label>
                    <input type="text" name="salaireMin" id="salaireMin" placeholder="Min" oninput="salaryFilter()"> - <input type="text" name="salaireMax" id="salaireMax" placeholder="Max" oninput="salaryFilter()">
                </div>
                <div>

                </div>
            </div>
        </div>
    </div>

    <script src="/javascripts/filter.js"></script>
    <script src="/javascripts/utilitaires.js"></script>

    <script>
        const initialFiches = <%- JSON.stringify(fichesPoste) %>;
        let currentFiches = orderById(initialFiches, 'fichePoste_id');


        document.addEventListener("DOMContentLoaded", function() {
            currentFiches.forEach(fiche => {
                fiche.isRecruteur = <%= isRecruteur %>;
            });
            const pagination = document.getElementById("pagination");
            const rowsPerPage = 4;
            const fichesPosteContainer = document.getElementById("fichePosteListe");

            renderList(currentFiches, 'fichePosteListe', createFichePosteCard);
            setupPagination(currentFiches, pagination, rowsPerPage, fichesPosteContainer, renderFichePosteCard, false);
        });

        const searchbar = document.getElementById('searchbar');
        searchbar.addEventListener('input', (event) => {
            const filteredList = search(
                initialFiches,
                ['organisation_nom', 'organisation_siren', 'statutPoste_nom', 'metier_nom', 'lieuMission', 'rythme', 'fichePoste_id', 'fichePoste_etat'],
                event.target.value,
            );
            currentFiches = orderById(filteredList, 'fichePoste_id');
            renderList(currentFiches, 'fichePosteListe', createFichePosteCard);
        });

        function salaryFilter() {
            const minSalary = document.getElementById('salaireMin');
            const maxSalary = document.getElementById('salaireMax');
            const filteredList = filterBySalary(initialFiches, minSalary, maxSalary);
            currentFiches = orderById(filteredList, 'fichePoste_id');
            renderList(currentFiches, 'fichePosteListe', createFichePosteCard);
        }

        function createFichePosteCard(fiche) {
            const cardDiv = document.createElement('div');
            cardDiv.classList.add('offer-card');
            cardDiv.innerHTML = renderFichePosteCard(fiche);
            return cardDiv;
        }


        function createNewOffer(ficheIdElement) {
            window.location.href = 'http://localhost:3000/offresemploi/detailsCreationOffre?ficheId=' + encodeURIComponent(ficheIdElement);
        }
    </script>

</body>
