<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>Siren</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Type</th>

            </tr>
        </thead>
        <tbody>

            <% organisations.forEach((organisation) => { %>
                <tr>
                    <td>
                        <%= organisation.siren %>
                    </td>
                    <td>
                        <%= organisation.nom %>
                    </td>
                    <td>
                        <%= organisation.adrSiegeSocial %>
                    </td>
                    <td>
                        <%= organisation.type%>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <form action="/organisations/addorganisation" method="post">
        <div>
            <label for="siren">Siren :</label>
            <input type="text" id="nom" name ="siren"required>
        </div>
        <div>
            <label for="nom">Nom : </label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div>
            <label for="adrSiegeSocial">Adresse Siege Social  :</label>
            <input type="text" id="adrSiegeSocial" name="adrSiegeSocial"required>
        </div>
        <div>
            <label for ="Type">Type  :</label>
            <input type="text" id="Type" name = "type" required>
        </div>
        <div>
            <button type="submit" id="add">Ajouter</button>
        </div>
    </form>
</body>