<body>
    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>Siren</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Type</th>

            </tr>
        </thead>
        <tbody>
            <% organisations.forEach((organisation) => { %>
                <tr>
                    <td>
                        <%= organisation.siren %>
                    </td>
                    <td>
                        <%= organisation.nom %>
                    </td>
                    <td>
                        <%= organisation.adrSiegeSocial %>
                    </td>
                    <td>
                        <%= organisation.type%>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>