<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/listes.css">
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <h1>
        <%= title %>
    </h1>
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Siren</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Type</th>
                    <th>Adhérer</th>

                </tr>
            </thead>
            <tbody id="organisationsTableBody">
                <% organisations.forEach((organisation) => { %>
                    <tr class="hover">
                        <td><%= organisation.siren %></td>
                        <td><%= organisation.nom %></td>
                        <td><%= organisation.adrSiegeSocial %></td>
                        <td><%= organisation.type %></td>
                        <td>                           
                            <button class="btn btn-primary" onclick="adhereToOrganisation('<%= organisation.siren %>')">Adhérer</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
            
        </table>
        <script>
            function adhereToOrganisation(siren) {
                fetch('/pageperso/user-info')
                    .then(response => response.json())
                    .then(user => {
                        // Préparer les données pour l'adhésion
                        const data = {
                            siren: siren,
                            userId: user.id,
                        };
                       
                        // Envoyer la demande d'adhésion au serveur
                        fetch('/DemandeAdherRecruteur/addAdherence', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                        .then(response => response.json())
                        .then(result => {
                            if (result.success) {
                                alert('Demande d\'adhésion envoyée avec succès.');
                            } else {
                                alert('Erreur lors de la demande d\'adhésion. Vous avez peut être déjà candidaté pour cette organisation');
                                if (data.userId==null){
                                     window.location.href = 'http://localhost:3000/connexion';
                                return;
                                 }

                            }
                        })
                        .catch(error => console.error('Error:', error));
                    })
                    .catch(error => console.error('Error:', error));
            }
            </script>
    </div>
  
    <div id="pagination" class="pagination-container"></div>
    <form action="/organisations/addtype" method="post" id="typeForm">
        <div>
            <label for="type">Type :</label>
            <input type="text" id="type" name="type" required>
        </div>
        <div>
            <button type="submit" id="addType">Ajouter Type</button>
        </div>
    </form>
    <form id="organisationForm" action="/organisations/addorganisation" method="post">
        <div>
            <label for="siren">Siren :</label>
            <input type="text" id="siren" name="siren" required>
        </div>
        <div>
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div>
            <label for="adrSiegeSocial">Adresse Siege Social :</label>
            <input type="text" id="adrSiegeSocial" name="adrSiegeSocial" required>
        </div>
        <div>
            <label for="typeId">Type ID :</label>
            <input type="text" id="typeId" name="typeId" required>
        </div>
        <div>
            <button type="submit" id="addOrganisation">Ajouter Organisation</button>
        </div>
    </form>
    <script src="/javascripts/utilitaires.js"></script>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const organisations = <%- JSON.stringify(organisations) %>; // Passer les organisations à partir de EJS
            const pagination = document.getElementById("pagination");
            const rowsPerPage = 7;
            const organisationsTableBody = document.getElementById("organisationsTableBody");

            setupPagination(organisations, pagination, rowsPerPage, organisationsTableBody, renderOrganisationRow);
        });

             document.getElementById('typeForm').addEventListener('submit', async function(event) {
            event.preventDefault();

            const type = document.getElementById('type').value;

                fetch('/organisations/addtype', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ nomType: type })
                })

                .then(response => response.json())
                .then(data => {
                console.log('Success:', data);
                alert('Type enregistré avec succès!');
                window.location.href = 'http://localhost:3000/organisations/organisationsList';
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Erreur lors de l\'enregistrement du type.');
            });
         
        });
    
            document.getElementById('organisationForm').addEventListener('submit', async function(event) {
                event.preventDefault();
    
                const formData = {
                    siren: document.getElementById('siren').value,
                    nom: document.getElementById('nom').value,
                    adrSiegeSocial: document.getElementById('adrSiegeSocial').value,
                    typeId: document.getElementById('typeId').value
                };
    
                try {
                    const orgaResponse = await fetch('/organisations/addorganisation', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(formData)
                    });
    
                    const orgaResult = await orgaResponse.json();
                    console.log("Organisation response received:", orgaResult);
    
                    if (orgaResult.message) {
                        alert('Organisation enregistrée avec succès!');
                        window.location.href = 'http://localhost:3000/organisations/organisationsList';
                    } else {
                        throw new Error("Failed to insert organisation");
                    }
                } catch (error) {
                    console.error('Error:', error);
                    alert('Erreur lors de l\'enregistrement de l\'organisation');
                }
            });
        </script>
        
    </body>
