<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/listes.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <h1>
        <%= title %>
    </h1>
    <div class="overflow-x-auto">
        <table class="table">
            <thead>
                <tr>
                    <th>Siren</th>
                    <th>Nom</th>
                    <th>Adresse</th>
                    <th>Type</th>
                    <th>Adhérer</th>

                </tr>
            </thead>
            <tbody id="organisationsTableBody">
                <% organisations.forEach((organisation) => { %>
                    <tr class="hover">
                        <td><%= organisation.siren %></td>
                        <td><%= organisation.nom %></td>
                        <td><%= organisation.adrSiegeSocial %></td>
                        <td><%= organisation.type %></td>
                        <td>                           
                            <button class="btn btn-primary" onclick="adhereToOrganisation('<%= organisation.siren %>')">Adhérer</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
           
            
        </table>
        <script>
            function adhereToOrganisation(siren) {
                fetch('/pageperso/user-info')
                    .then(response => response.json())
                    .then(user => {
                        // Préparer les données pour l'adhésion
                        const data = {
                            siren: siren,
                            userId: user.id,
                        };
                       
                        // Envoyer la demande d'adhésion au serveur
                        fetch('/DemandeAdherRecruteur/addAdherence', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                        .then(response => response.json())
                        .then(result => {
                            if (result.success) {
                                alert('Demande d\'adhésion envoyée avec succès.');
                            } else {
                                alert('Erreur lors de la demande d\'adhésion. Vous avez peut être déjà candidaté pour cette organisation');
                                if (data.userId==null){
                                     window.location.href = 'http://localhost:3000/connexion';
                                return;
                                 }

                            }
                        })
                        .catch(error => console.error('Error:', error));
                    })
                    .catch(error => console.error('Error:', error));
            }
            </script>
    </div>
                            
   
    <div id="pagination" class="pagination-container"></div>
  
          <button id="CreateOrga" class="btn btn-primary" action="/organisations/detailsCreationOrganisation">Créer votre organisation</button>
    </div>

    <script src="/javascripts/utilitaires.js"></script>
    
    <script>
        document.getElementById("CreateOrga").addEventListener("click",function(event){
            event.preventDefault();
            window.location.href = "http://localhost:3000/organisations/detailsCreationOrganisation"

        });

        document.addEventListener("DOMContentLoaded", function() {
            const organisations = <%- JSON.stringify(organisations) %>; // Passer les organisations à partir de EJS
            const pagination = document.getElementById("pagination");
            const rowsPerPage = 7;
            const organisationsTableBody = document.getElementById("organisationsTableBody");

            setupPagination(organisations, pagination, rowsPerPage, organisationsTableBody, renderOrganisationRow);
        });

            
        
        </script>
        
    </body>
