<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Garde</title>
    <link rel="stylesheet" href="/stylesheets/general.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <button id="mescandidatures" type="button" class="top-right-button">Visualiser mes candidatures</button>
    <button id="adherences" type="button" class="top-right-button2">Visualiser les demandes d'adhérences</button>
    <button id="offresEmploi" type="button" class="top-right-button3">Créer une nouvelle offre d'emploi</button>

    <div class="drawer lg:drawer-open">
        <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
        <div class="drawer-side">
            <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label> 
            <ul class="menu p-4 w-80 min-h-full bg-base-200 text-base-content">
                <!-- Avatar element here -->
                <li class="avatar placeholder mb-4">
                    <div class="bg-neutral text-neutral-content rounded-full w-24">
                        <span class="text-3xl">D</span>
                    </div>
                </li>
                <!-- Sidebar content here -->

                <li><a>Nom: <%= user.nom %></a></li>
                <li><a>Prénom: <%= user.prenom %></a></li>
                <li><a>Téléphone: <%= user.tel %></a></li>
                <li><a>Mail: <%= user.mail %></a></li>
                <li><a>Statut: <%= user.statut %></a></li>
                <li><a>Role: <%= user.role %></a></li>
                <li><a>Mon organisation: <%= organisation.nom %></a></li>
                <li><a>SIREN: <%= organisation.siren %></a></li>
                <li><a>Adresse Siège Social: <%= organisation.adrSiegeSocial %></a></li>
                <li><a>Type: <%= organisation.type %></a></li>

                <li>
                    <form id="logout-form" action="/pageperso/deconnexion" method="get">
                        <button id="logout" type="submit" class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg">Se déconnecter</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

</body>
<script>
  document.getElementById('mescandidatures').addEventListener('click', function(event) {
    window.location.href = "http://localhost:3000/candidature/mescandidatures";
  });
  document.getElementById('adherences').addEventListener('click', function(event) {
    const organisationId = <%= organisation.siren %>;
    if (organisationId) {
        window.location.href = `http://localhost:3000/DemandeAdherRecruteur/adherenceslist/${organisationId}`;    } else {
        alert("Vous avez été accepté dans encore aucune organisation");
    }
});
</script>

<style>
  .top-right-button {
      position: fixed;
      top: 200px;
      right: 20px;
      z-index: 1000;
      padding: 15px 25px; /* Adjust padding for larger size */
      font-size: 18px; /* Adjust font size for larger text */
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .top-right-button2 {
      position: fixed;
      top: 270px;
      right: 20px;
      z-index: 1000;
      padding: 15px 25px; /* Adjust padding for larger size */
      font-size: 18px; /* Adjust font size for larger text */
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }
  .top-right-button3 {
      position: fixed;
      top: 100;
      right: 20px;
      z-index: 1000;
      padding: 15px 25px; /* Adjust padding for larger size */
      font-size: 18px; /* Adjust font size for larger text */
      background-color: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
  }

  .top-right-button:hover,.top-right-button2:hover {
      background-color: #0056b3;
  }

  body {
      position: relative;
      min-height: 100vh;
      margin: 0;
      padding: 0;
  }

</style>
</html>
