<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->

    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>

            <% users.forEach((user) => { %>
                <tr>
                    <td>
                        <%= user.prenom %>
                    </td>
                    <td>
                        <%= user.nom %>
                    </td>
                    <td>
                        <%= user.mail %>
                    </td>
                    <td>
                        <%= user.tel %>
                    </td>
                    <td>
                        <%= user.dateCreation %>
                    </td>
                </tr>
                </tr>
                </tr>
            <% }) %>
        </tbody>
    </table>

    <!-- Formulaire pour ajouter un nouvel utilisateur -->
    <form action="/users/adduser" method="post" id="userForm">
        <div>
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div>
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required>
        </div>
        <div>
            <label for="mail">E-mail :</label>
            <input type="email" id="mail" name="mail" required>
        </div>
        <div>
            <label for="tel">Téléphone :</label>
            <input type="tel" id="tel" name="tel" required>
        </div>
        <div>
            <label for="mdp">Mot de passe  :</label>
            <input type="mdp" id="mdp" name="mdp" required>
        </div>
        <div>
            <button type="submit" id="add">Ajouter</button>
        </div>
    </form>
    <script>
        document.getElementById('userForm').addEventListener('submit', function(event) {
            event.preventDefault();  // Empêcher la soumission normale du formulaire
        
            // Récupérer les valeurs du formulaire
            var formData = {
                prenom: document.getElementById('prenom').value,
                nom: document.getElementById('nom').value,
                tel: document.getElementById('tel').value,
                mail: document.getElementById('mail').value,
                mdp: document.getElementById('mdp').value
            };
        
            // Envoi des données du formulaire en utilisant fetch API
            fetch('/users/adduser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Utilisateur enregistré avec succès!');
                window.location.href = 'http://localhost:3000/users/usersList';
    
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Erreur lors de l\'enregistrement de l\'utilisateur.');
            });
        });
        </script>
</body>
