<body>
    <%- include('barrenavigation') %> <!-- Inclure la barre de navigation -->
<head>  
      <link rel="stylesheet" href="/stylesheets/listes.css"> <!-- Correct CSS inclusion -->
</head>
    <h1>
        <%= title %>
    </h1>
    <div class="overflow-x-auto">
        <table class="table" id="usersTable">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>Date de Création</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="usersTableBody">
                <% users.forEach((user) => { %>
                    <tr class="hover">
                        <td><%= user.prenom %></td>
                        <td><%= user.nom %></td>
                        <td><%= user.mail %></td>
                        <td><%= user.tel %></td>
                        <td><%= user.dateCreation %></td>
                        <td>
                            <button class="btn btn-primary" onclick="window.location.href = 'http://localhost:3000/users/<%= user.id %>';">Détail utilisateur</button>
                            <button class="btn btn-danger" data-mail="<%= user.mail %>">Supprimer</button>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <div id="pagination" class="pagination-container"></div>
    <script src="/javascripts/utilitaires.js"></script>
    <script src="/stylesheets/listes.css"></script>

    <script>
        // (Manon) Avec ce code actif, le bouton 'Détail utilisateur' ne s'affiche pas
     document.addEventListener("DOMContentLoaded", function() {
             const users = <%- JSON.stringify(users) %>; // Passer les utilisateurs à partir de EJS
             const pagination = document.getElementById("pagination");
             const rowsPerPage = 7;
             const usersTableBody = document.getElementById("usersTableBody");

             setupPagination(users, pagination, rowsPerPage, usersTableBody, renderUserRow);
     }); 
    </script>

    
</body>


    <!-- Formulaire pour ajouter un nouvel utilisateur 
    <form action="/users/adduser" method="post" id="userForm">
        <div>
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
        </div>
        <div>
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required>
        </div>
        <div>
            <label for="mail">E-mail :</label>
            <input type="email" id="mail" name="mail" required>
        </div>
        <div>
            <label for="tel">Téléphone :</label>
            <input type="tel" id="tel" name="tel" required>
        </div>
        <div>
            <label for="mdp">Mot de passe  :</label>
            <input type="mdp" id="mdp" name="mdp" required>
        </div>
        <div>
            <button type="submit" id="add">Ajouter</button>
        </div>
    </form>
    
    <script>
        document.getElementById('userForm').addEventListener('submit', function(event) {
            event.preventDefault();  // Empêcher la soumission normale du formulaire
        
            // Récupérer les valeurs du formulaire
            var formData = {
                prenom: document.getElementById('prenom').value,
                nom: document.getElementById('nom').value,
                tel: document.getElementById('tel').value,
                mail: document.getElementById('mail').value,
                mdp: document.getElementById('mdp').value
            };
        
            // Envoi des données du formulaire en utilisant fetch API
            fetch('/users/adduser', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Utilisateur enregistré avec succès!');
                window.location.href = 'http://localhost:3000/users/usersList';
    
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Erreur lors de l\'enregistrement de l\'utilisateur.');
            });
        });
        </script>
    -->