<body>
    <h1>
        <%= title %>
    </h1>
    <table border>
        <thead>
            <tr>
                <th>Firstnname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Tel</th>

            </tr>
        </thead>
        <tbody>
            <% users.forEach((user) => { %>
                <tr>
                    <td>
                        <%= user.prenom %>
                    </td>
                    <td>
                        <%= user.nom %>
                    </td>
                    <td>
                        <%= user.mail %>
                    </td>
                    <td>
                        <%= user.tel %>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>